In [32]:
import pandas as pd

d = {'id':[1,2,3],'email': ['a@b.com','a@b.com','a@b.com']}
df = pd.DataFrame(data=d)

df1 = df.drop_duplicates(subset='email')
print(df1)
# id    email
# 0   1  a@b.com
# 1   2  c@d.com
# 2   3  a@b.com

s = pd.Series([1,3,4])
d = s.to_frame()
d

   id    email
0   1  a@b.com

   0
0  1
1  3
2  4

In [45]:
df1=df['email'].to_frame()
df1.columns = ['Email']
print(df1.duplicated)
# df2 = df1.drop_duplicates(subset='Email')
# df2

<bound method DataFrame.duplicated of      Email
0  a@b.com
1  a@b.com
2  a@b.com>

In [46]:
df

   id    email
0   1  a@b.com
1   2  a@b.com
2   3  a@b.com

In [56]:
df3 = df['email'].to_frame()
df4 = df3.duplicated()
df4

0    False
1     True
2     True
dtype: bool

In [60]:
nums = [0,1,0,3,12]

In [62]:
[n for n in nums if n != 0]

[1, 3, 12]

In [63]:
for n in nums:
    if n == 0:
        nums.remove(n)
        nums.append(n)
    else:
        pass

print(nums)

[1, 3, 12, 0, 0]

In [68]:
nums = [4,1,2,1,2,4,5]
def singleNumber(nums):
    res = 0
    for num in nums:
        res ^= num
        return res
print(singleNumber(nums)) # Output: 4

4

In [71]:
for n in nums:
    if nums.count(n)==1:
        # return n
        pass

In [80]:
n = 5
for i in range(1,n):
    for j in range(i-1):
        # print(i,',',j)
        print(i, end=',')
    print('*'.center(10,'*'))

**********
2,**********
3,3,**********
4,4,4,**********

In [91]:
from string import ascii_letters, ascii_lowercase, ascii_uppercase
len(ascii_letters)
len(ascii_lowercase)

for i in ascii_uppercase:
    print(ord(i), i)

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z

In [97]:
n1, n2 = 1, 2
so = 0
def s(n):
    if n == 0:
        return so
    elif n == 1:
        return so
    if n == 2:
        return so
    else:
        s(n -1)

print(s(5))

None